@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';

.drawer-icon {
    position: absolute;
    right: 1rem;
    transform: scale(1.2);
    transition: all .5s;
    &:hover {
        color: @primary-color;
    }
}